@font-face {
    font-family: 'playlist-script';
    src: url('../fonts/Playlist Script.otf');
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/Lato-Regular.ttf');
}

body {
    font-family: lato-regular, system-ui;
    background: url('../images/rm422-047.jpg') #eaf3e4 no-repeat fixed center;
    background-size: cover;
}

.title {
    font-family: playlist-script, system-ui;
    font-size: 64px;
    text-align: center;
}

.form, .instructions {
    display: flex;
    justify-content: center;
    text-align: center;
}

.instructions {
    font-family: Lato-Regular, system-ui;
}

.query {
    width: 37%;
    border: 1px solid white;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    background-image: url('../images/search.png');
    background-position: 13px 16px; 
    background-repeat: no-repeat;
    background-size: 15px;
    padding: 12px 20px 12px 40px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.submit {
    position: sticky;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #63b776;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 16px 32px;
}

.more {
    display: none;
    margin: auto;
}

.loader {
    border: 4px solid #63b776;
    border-radius: 50%;
    border-top: 4px solid white;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-block-start: 1em;
    margin-inline-start: 1em;
    display: none;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: center;
}

.product {
    color: black;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    width: 100%;
    background-color: #ffffffbf;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .product {
        width: 75%;
    }
}
@media only screen and (min-width: 992px) {
    .product {
        width: 50%;
    }
}

.image {
    display: flex;
    justify-content: left;
    width: 100px;
    height: 100px;
}

.image img {
    max-height: 100px;
    max-width: 100px;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .image {
        width: 150px;
        height: 150px;
    }

    .image img {
        max-height: 150px;
        max-width: 150px;
    }
}

.span {
    font-weight: bold;
    margin: auto;
}

.collapsible {
    color: black;
    background-color: #ffffffbf;
    font-size: 16px;
    border: none;
    border-radius: 5px 5px 0 5px;
    cursor: pointer;
    height: 25px;
    position: fixed;
    top: 5px;
    right: 5px;
}

.content {
    line-height: 1.5;
    background-color: #ffffffbf;
    border-radius: 5px 0 5px 5px;
    display: none;
    position: fixed;
    padding: 0 5px;
    top: 30px;
    right: 7px;
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #000000bf;
    color: white;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    top: 150%;
    left: 50%;
    margin-left: -50px;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000000bf transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}